source https://nuget.org/api/v2

nuget FsCheck
nuget FSharp.Formatting
nuget NUnit ~> 2.6
nuget NUnit.Runners ~> 2.6
nuget FAKE
nuget OpenCover
nuget coveralls.net
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx